@import "./bundles/nioicon/style.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./bundles/simplebar/simplebar.css";

@import "./bundles/choice/choices.css";
@import "./bundles/dropzone/dropzone.css";
@import "./bundles/datepicker/datepicker.css";
@import "./bundles/nouislider/nouislider.css";
@import "./bundles/swiper/swiper-bundle.css";
@import "./bundles/simple-datatables/simple-datatables.css";
@import "./bundles/tagify/tagify.css";
@import "./bundles/fullcalendar/fullcalendar.css";

@import "./custom/keyframes.css";
@import "./custom/font-faces.css";

.stripe{
    background-image: linear-gradient(
        45deg, 
        rgba(255, 255, 255, 0.15) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, 0.15) 50%, 
        rgba(255, 255, 255, 0.15) 75%, 
        transparent 75%, 
        transparent
    );
}

.entry{
    @apply last:[&>*]:mb-0 prose-p:mb-4 prose-h3:text-2xl lg:prose-h3:text-3xl prose-h4:text-xl lg:prose-h4:text-2xl prose-h5:text-lg lg:prose-h5:text-xl  prose-h6:text-base prose-headings:mb-2 prose-headings:font-heading prose-headings:font-bold prose-headings:leading-tighter prose-headings:text-slate-700 prose-headings:dark:text-white prose-headings:tracking-tight prose-h1:-tracking-snug prose-h2:-tracking-snug prose-ul:mb-4 prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-img:rounded prose-img:my-8;
}